@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #135bec;
  --color-background-light: #f8f9fc;
  --color-background-dark: #101622;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1a2233;
  --font-display: "Inter", sans-serif;
}

@utility material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-white font-display;
}